{
  "openapi": "3.0.0",
  "info": {
    "title": "FSI",
    "description": "\n### Overview\n\n**Version:** 1.0.0  \n**Specification:** OpenAPI 3.0  \n**Base URL:** `https://api.vh3connect.io/api:kP8T1CK7`  \n\nThe FSI (Field Service Intelligence) API provides AI-powered analytics, automation, and data management for field service operations. It transforms raw job, engineer, customer, and site data into actionable intelligence through semantic search, knowledge graphs, automated briefings, and operational monitoring.\n\n---\n\n#### Authentication\n\nAll endpoints require an API key passed in the `X-API-Key` header:\n\n```\nX-API-Key: your-api-key-here\n```\n\nRequests without a valid API key will receive a `401 Unauthorised` response.\n\n---\n\n#### Common Response Codes\n\n| Code | Meaning |\n|---|---|\n| **200** | Success |\n| **201** | Created (resource successfully created) |\n| **400** | Bad Request - invalid or missing parameters |\n| **401** | Unauthorised - missing or invalid API key |\n| **404** | Not Found - the requested resource does not exist |\n| **409** | Conflict - a task is already running for this resource |\n| **422** | Validation Error - request understood but semantically invalid |\n| **429** | Rate Limited - too many requests |\n| **500** | Internal Server Error |\n\n---\n\n#### Endpoint Categories\n\n##### AI & Search\n- **POST /agent/ask** - Natural-language Q&A powered by Weaviate\n- **POST /agent/search** - Natural-language search returning structured job objects\n- **POST /investigate** - Multi-step hybrid investigation across vector and graph data\n- **GET /search/autocomplete** - Fuzzy autocomplete across customers, engineers, jobs, and sites\n- **POST /search/intake** - Semantic search over job intake descriptions\n- **POST /search/intake/enriched** - Semantic search with Neo4j graph enrichment\n- **POST /search/outcomes** - Semantic search over job outcome summaries\n\n##### Connie AI Assistant\n- **POST /connie/chat** - Chat with the Connie AI assistant\n- **POST /connie/chat/voice** - Voice chat with Connie\n- **POST /connie/generate-summary** - Generate an AI summary for a contact\n- **POST /connie/history/search** - Search conversation history\n- **GET /connie/sessions** - List chat sessions\n- **GET /connie/sessions/{session_id}/messages** - Get messages for a session\n\n##### Jobs & Aggregation\n- **GET /jobs/feed** - Paginated job feed with multi-filter support\n- **GET /jobs/{job_id}** - Get a single job with full details\n- **POST /aggregate/jobs** - Job metrics with groupBy dimensions and period comparison\n\n##### Data Ingestion\n- **POST /ingest/job** - Ingest a single job\n- **POST /ingest/jobs** - Bulk job ingestion\n- **POST /ingest/job/intake** - Intake a new job from an external system\n- **POST /ingest/job/completed** - Mark a job as completed\n- **PATCH /ingest/job/status** - Update job status\n- **POST /ingest/csv** - Ingest data from a CSV file\n- **POST /ingest/contacts** - Ingest contacts for a company\n- **POST /ingest/driving** - Ingest driving data\n- **POST /ingest/email** - Ingest an email for job extraction\n\n##### Email Triage\n- **POST /triage/classify** - Classify an incoming email\n- **GET /triage/categories** - List available triage categories\n- **GET /ingest/email/pending** - List pending email extractions\n- **POST /ingest/email/confirm** - Confirm a pending extraction\n- **POST /ingest/email/reject** - Reject a pending extraction\n\n##### Backfill & Welcome Pack\n- **POST /backfill/collect** - Start a historical data backfill\n- **GET /backfill/collect/tasks** - List backfill tasks\n- **GET /backfill/collect/{task_id}** - Get backfill task status\n- **POST /welcome-pack/generate** - Generate a welcome pack analysis\n- **GET /welcome-pack/{company_id}/latest** - Get latest welcome pack\n\n##### Knowledge Graph\n- **POST /graph/query** - Query the knowledge graph with presets and filters\n- **GET /graph/presets** - List available graph query presets\n\n##### Briefings & Reports\n- **POST /briefing/generate** - Generate an engineer pre-visit briefing\n- **POST /reports/generate** - Generate a report\n- **GET /reports/sections** - List available report sections\n\n##### Sentinels (Monitoring)\n- **POST /sentinels/run** - Run sentinel checks\n- **POST /sentinels/run/{sentinel_id}** - Run a specific sentinel\n- **GET /sentinels/registry** - List all sentinel definitions\n- **GET /sentinels/results** - Get latest sentinel results\n\n##### Poller (Data Sync)\n- **POST /poller/start** - Start polling for a company\n- **POST /poller/stop** - Stop polling\n- **POST /poller/poll** - Trigger an immediate poll\n- **GET /poller/status** - Get all poller statuses\n- **GET /poller/status/{company_id}** - Get poller status for a company\n\n##### Cases (Issue Tracking)\n- **POST /cases/create** - Create a new case\n- **GET /cases/list** - List cases with filtering\n- **GET /cases/search** - Full-text search across cases\n- **GET /cases/{case_id}** - Get case details\n- **PATCH /cases/{case_id}** - Update a case\n- **POST /cases/{case_id}/transition** - Transition case status\n- **POST /cases/{case_id}/comments** - Add a comment\n- **GET /cases/{case_id}/activity** - Get case activity timeline\n- **POST /cases/{case_id}/participants** - Add a participant\n- **POST /cases/{case_id}/items** - Link an item to a case\n\n##### Intelligence Profiles\n- **POST /intelligence/generate-profiles** - Generate intelligence profiles\n- **GET /intelligence/profiles/{company_id}** - List profiles for a company\n- **GET /intelligence/profiles/{company_id}/types/{type_id}** - Get a specific profile\n\n##### Weather\n- **GET /weather/forecast** - Get weather forecast\n- **GET /weather/historical** - Get historical weather data\n- **GET /weather/for-job/{job_id}** - Weather for a specific job\n- **GET /weather/for-site** - Weather for a specific site\n\n##### Media & Utilities\n- **POST /media/transcribe** - Transcribe media content\n- **GET /health** - Health check\n\n---\n\n#### Pagination\n\nList endpoints return paginated results. Use the `page` and `per_page` (or `limit`) query parameters to navigate through pages. Response metadata includes `total`, `page`, and `pages` where applicable.\n\n---\n\n#### Task-Based Endpoints\n\nLong-running operations (backfill, welcome pack, ingestion) return a `task_id` immediately. Poll the corresponding status endpoint to track progress:\n\n```json\n{\n  \"task_id\": \"abc-123\",\n  \"status\": \"running\",\n  \"progress\": 45,\n  \"message\": \"Processing batch 5 of 11\"\n}\n```\n\nPossible statuses: `pending`, `running`, `completed`, `failed`, `cancelled`.\n",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.vh3connect.io/api:kP8T1CK7",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/agent/ask": {
      "post": {
        "operationId": "FSI/agent/ask|POST",
        "summary": "Natural-language Q&A via Weaviate Query Agent",
        "description": "Natural-language Q&A via Weaviate Query Agent\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "agent"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": ""
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": ""
                  },
                  "api_key": {
                    "type": "string",
                    "description": ""
                  },
                  "question": {
                    "type": "string",
                    "description": ""
                  }
                },
                "required": [
                  "company_id",
                  "api_key",
                  "question"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": ""
                  },
                  "api_key": {
                    "type": "string",
                    "description": ""
                  },
                  "question": {
                    "type": "string",
                    "description": ""
                  }
                },
                "required": [
                  "company_id",
                  "api_key",
                  "question"
                ]
              }
            }
          }
        }
      }
    },
    "/agent/search": {
      "post": {
        "operationId": "FSI/agent/search|POST",
        "summary": "Natural-language search returning job objects",
        "description": "Natural-language search returning job objects\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "agent"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": ""
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": ""
                  },
                  "api_key": {
                    "type": "string",
                    "description": ""
                  },
                  "question": {
                    "type": "string",
                    "description": ""
                  },
                  "limit": {
                    "type": "integer",
                    "format": "int64",
                    "description": "",
                    "default": "10"
                  }
                },
                "required": [
                  "company_id",
                  "api_key",
                  "question"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": ""
                  },
                  "api_key": {
                    "type": "string",
                    "description": ""
                  },
                  "question": {
                    "type": "string",
                    "description": ""
                  },
                  "limit": {
                    "type": "integer",
                    "format": "int64",
                    "description": "",
                    "default": "10"
                  }
                },
                "required": [
                  "company_id",
                  "api_key",
                  "question"
                ]
              }
            }
          }
        }
      }
    },
    "/aggregate/jobs": {
      "post": {
        "operationId": "FSI/aggregate/jobs|POST",
        "summary": "Job aggregation with metrics, groupBy dimensions, and period comparison",
        "description": "Job aggregation with metrics, groupBy dimensions, and period comparison\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "aggregate"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": ""
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": ""
                  },
                  "api_key": {
                    "type": "string",
                    "description": ""
                  },
                  "metric": {
                    "type": "string",
                    "description": ""
                  },
                  "time_axis": {
                    "type": "string",
                    "description": "",
                    "default": "day"
                  },
                  "period": {
                    "type": "string",
                    "description": ""
                  },
                  "compare_to": {
                    "type": "string",
                    "description": ""
                  },
                  "group_by": {
                    "type": "string",
                    "description": ""
                  },
                  "filters": {
                    "type": "object",
                    "description": "",
                    "nullable": true
                  },
                  "limit": {
                    "type": "integer",
                    "format": "int64",
                    "description": "",
                    "default": "10"
                  }
                },
                "required": [
                  "company_id",
                  "api_key",
                  "metric"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": ""
                  },
                  "api_key": {
                    "type": "string",
                    "description": ""
                  },
                  "metric": {
                    "type": "string",
                    "description": ""
                  },
                  "time_axis": {
                    "type": "string",
                    "description": "",
                    "default": "day"
                  },
                  "period": {
                    "type": "string",
                    "description": ""
                  },
                  "compare_to": {
                    "type": "string",
                    "description": ""
                  },
                  "group_by": {
                    "type": "string",
                    "description": ""
                  },
                  "filters": {
                    "type": "object",
                    "description": "",
                    "nullable": true
                  },
                  "limit": {
                    "type": "integer",
                    "format": "int64",
                    "description": "",
                    "default": "10"
                  }
                },
                "required": [
                  "company_id",
                  "api_key",
                  "metric"
                ]
              }
            }
          }
        }
      }
    },
    "/backfill/collect/tasks": {
      "get": {
        "operationId": "FSI/backfill/collect/tasks|GET",
        "summary": "List all backfill collection tasks",
        "description": "List all backfill collection tasks\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "backfill"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": ""
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/backfill/collect/{task_id}": {
      "delete": {
        "operationId": "FSI/backfill/collect/{task_id}|DELETE",
        "summary": "Cancel a running backfill task",
        "description": "Cancel a running backfill task\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "backfill"
        ],
        "security": [],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": ""
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "get": {
        "operationId": "FSI/backfill/collect/{task_id}|GET",
        "summary": "Get the status of a specific backfill task",
        "description": "Get the status of a specific backfill task\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "backfill"
        ],
        "security": [],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": ""
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/backfill/collect": {
      "post": {
        "operationId": "FSI/backfill/collect|POST",
        "summary": "Start a backfill collection task for a company",
        "description": "Start a backfill collection task for a company\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "backfill"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": ""
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": ""
                  },
                  "api_key": {
                    "type": "string",
                    "description": ""
                  },
                  "months_back": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "years_back": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "concurrency": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "skip_enrichment": {
                    "type": "boolean",
                    "description": "",
                    "default": "false"
                  },
                  "skip_profiling": {
                    "type": "boolean",
                    "description": "",
                    "default": "false"
                  }
                },
                "required": [
                  "company_id",
                  "api_key"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": ""
                  },
                  "api_key": {
                    "type": "string",
                    "description": ""
                  },
                  "months_back": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "years_back": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "concurrency": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "skip_enrichment": {
                    "type": "boolean",
                    "description": "",
                    "default": "false"
                  },
                  "skip_profiling": {
                    "type": "boolean",
                    "description": "",
                    "default": "false"
                  }
                },
                "required": [
                  "company_id",
                  "api_key"
                ]
              }
            }
          }
        }
      }
    },
    "/briefing/generate": {
      "post": {
        "operationId": "FSI/briefing/generate|POST",
        "summary": "Generate an engineer pre-visit briefing and call script",
        "description": "Generate an engineer pre-visit briefing and call script\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "briefing"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": ""
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": ""
                  },
                  "api_key": {
                    "type": "string",
                    "description": ""
                  },
                  "job_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "contact_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "force_regenerate_summary": {
                    "type": "boolean",
                    "description": "",
                    "default": "false"
                  },
                  "job_payload": {
                    "type": "object",
                    "description": "",
                    "nullable": true
                  }
                },
                "required": [
                  "company_id",
                  "api_key",
                  "job_id",
                  "contact_id"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": ""
                  },
                  "api_key": {
                    "type": "string",
                    "description": ""
                  },
                  "job_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "contact_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "force_regenerate_summary": {
                    "type": "boolean",
                    "description": "",
                    "default": "false"
                  },
                  "job_payload": {
                    "type": "object",
                    "description": "",
                    "nullable": true
                  }
                },
                "required": [
                  "company_id",
                  "api_key",
                  "job_id",
                  "contact_id"
                ]
              }
            }
          }
        }
      }
    },
    "/cases/create": {
      "post": {
        "operationId": "FSI/cases/create|POST",
        "summary": "Create a new case. Uses API key auth with actor identity model.",
        "description": "Create a new case. Uses API key auth with actor identity model.\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "cases"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": "Tenant identifier (UUID)"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "Tenant API key"
                  },
                  "actor_type": {
                    "type": "string",
                    "description": "Who is creating the case",
                    "enum": [
                      "user",
                      "agent",
                      "system"
                    ],
                    "default": "user"
                  },
                  "actor_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "User ID of the actor. Defaults to API key owner when actor_type=user"
                  },
                  "title": {
                    "type": "string",
                    "description": "Short descriptive case title"
                  },
                  "description": {
                    "type": "string",
                    "description": "Detailed case narrative"
                  },
                  "type": {
                    "type": "string",
                    "description": "Case classification type",
                    "enum": [
                      "incident",
                      "investigation",
                      "project_review",
                      "case_study",
                      "audit",
                      "compliance"
                    ]
                  },
                  "priority": {
                    "type": "string",
                    "description": "Case priority level",
                    "enum": [
                      "low",
                      "medium",
                      "high",
                      "critical"
                    ],
                    "default": "medium"
                  },
                  "tags": {
                    "type": "object",
                    "description": "Array of strings for flexible categorisation",
                    "nullable": true
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Extensible key-value store for regulatory fields and custom data",
                    "nullable": true
                  },
                  "due_date": {
                    "type": "number",
                    "format": "timestamptz",
                    "description": "Optional case deadline"
                  }
                },
                "required": [
                  "company_id",
                  "api_key",
                  "title",
                  "type"
                ],
                "example": {}
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": "Tenant identifier (UUID)"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "Tenant API key"
                  },
                  "actor_type": {
                    "type": "string",
                    "description": "Who is creating the case",
                    "enum": [
                      "user",
                      "agent",
                      "system"
                    ],
                    "default": "user"
                  },
                  "actor_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "User ID of the actor. Defaults to API key owner when actor_type=user"
                  },
                  "title": {
                    "type": "string",
                    "description": "Short descriptive case title"
                  },
                  "description": {
                    "type": "string",
                    "description": "Detailed case narrative"
                  },
                  "type": {
                    "type": "string",
                    "description": "Case classification type",
                    "enum": [
                      "incident",
                      "investigation",
                      "project_review",
                      "case_study",
                      "audit",
                      "compliance"
                    ]
                  },
                  "priority": {
                    "type": "string",
                    "description": "Case priority level",
                    "enum": [
                      "low",
                      "medium",
                      "high",
                      "critical"
                    ],
                    "default": "medium"
                  },
                  "tags": {
                    "type": "object",
                    "description": "Array of strings for flexible categorisation",
                    "nullable": true
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Extensible key-value store for regulatory fields and custom data",
                    "nullable": true
                  },
                  "due_date": {
                    "type": "number",
                    "format": "timestamptz",
                    "description": "Optional case deadline"
                  }
                },
                "required": [
                  "company_id",
                  "api_key",
                  "title",
                  "type"
                ],
                "example": {}
              }
            }
          }
        }
      }
    },
    "/cases/list": {
      "get": {
        "operationId": "FSI/cases/list|GET",
        "summary": "List cases for a company with filtering and pagination.",
        "description": "List cases for a company with filtering and pagination.\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "cases"
        ],
        "security": [],
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "Tenant identifier (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "Tenant API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by case status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "open",
                "in_progress",
                "under_review",
                "resolved",
                "closed",
                "archived"
              ],
              "default": ""
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by case type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "incident",
                "investigation",
                "project_review",
                "case_study",
                "audit",
                "compliance"
              ],
              "default": ""
            }
          },
          {
            "name": "priority",
            "in": "query",
            "description": "Filter by priority",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "low",
                "medium",
                "high",
                "critical"
              ],
              "default": ""
            }
          },
          {
            "name": "owner_id",
            "in": "query",
            "description": "Filter by case owner",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": "0"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to match against title and description",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": "1"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": "20"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemsReceived": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "curPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "nextPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "prevPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "perPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "itemsTotal": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "pageTotal": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Unique case identifier"
                          },
                          "company_id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Tenant isolation - references company table"
                          },
                          "owner_id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "User who created/owns the case"
                          },
                          "title": {
                            "type": "string",
                            "description": "Short descriptive case title"
                          },
                          "description": {
                            "type": "string",
                            "description": "Detailed case narrative"
                          },
                          "type": {
                            "type": "string",
                            "description": "Case classification type",
                            "enum": [
                              "incident",
                              "investigation",
                              "project_review",
                              "case_study",
                              "audit",
                              "compliance"
                            ]
                          },
                          "priority": {
                            "type": "string",
                            "description": "Case priority level",
                            "enum": [
                              "low",
                              "medium",
                              "high",
                              "critical"
                            ],
                            "default": "medium"
                          },
                          "status": {
                            "type": "string",
                            "description": "Current lifecycle status",
                            "enum": [
                              "draft",
                              "open",
                              "in_progress",
                              "under_review",
                              "resolved",
                              "closed",
                              "archived"
                            ],
                            "default": "draft"
                          },
                          "resolution": {
                            "type": "string",
                            "description": "Summary of how the case was resolved"
                          },
                          "tags": {
                            "type": "object",
                            "description": "Array of strings for flexible categorisation",
                            "nullable": true
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Extensible key-value store for regulatory fields and custom data",
                            "nullable": true
                          },
                          "updated_at": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "Last modification timestamp",
                            "default": "now"
                          },
                          "due_date": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "Optional case deadline"
                          },
                          "closed_at": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "Timestamp when case was resolved or closed"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/cases/search": {
      "get": {
        "operationId": "FSI/cases/search|GET",
        "summary": "Full-text search across case titles and descriptions with optional filters.",
        "description": "Full-text search across case titles and descriptions with optional filters.\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "cases"
        ],
        "security": [],
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "Tenant identifier (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "Tenant API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search query to match against title and description",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "open",
                "in_progress",
                "under_review",
                "resolved",
                "closed",
                "archived"
              ],
              "default": ""
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "incident",
                "investigation",
                "project_review",
                "case_study",
                "audit",
                "compliance"
              ],
              "default": ""
            }
          },
          {
            "name": "priority",
            "in": "query",
            "description": "Filter by priority",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "low",
                "medium",
                "high",
                "critical"
              ],
              "default": ""
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": "1"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": "20"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemsReceived": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "curPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "nextPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "prevPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "perPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "itemsTotal": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "pageTotal": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Unique case identifier"
                          },
                          "company_id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Tenant isolation - references company table"
                          },
                          "owner_id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "User who created/owns the case"
                          },
                          "title": {
                            "type": "string",
                            "description": "Short descriptive case title"
                          },
                          "description": {
                            "type": "string",
                            "description": "Detailed case narrative"
                          },
                          "type": {
                            "type": "string",
                            "description": "Case classification type",
                            "enum": [
                              "incident",
                              "investigation",
                              "project_review",
                              "case_study",
                              "audit",
                              "compliance"
                            ]
                          },
                          "priority": {
                            "type": "string",
                            "description": "Case priority level",
                            "enum": [
                              "low",
                              "medium",
                              "high",
                              "critical"
                            ],
                            "default": "medium"
                          },
                          "status": {
                            "type": "string",
                            "description": "Current lifecycle status",
                            "enum": [
                              "draft",
                              "open",
                              "in_progress",
                              "under_review",
                              "resolved",
                              "closed",
                              "archived"
                            ],
                            "default": "draft"
                          },
                          "resolution": {
                            "type": "string",
                            "description": "Summary of how the case was resolved"
                          },
                          "tags": {
                            "type": "object",
                            "description": "Array of strings for flexible categorisation",
                            "nullable": true
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Extensible key-value store for regulatory fields and custom data",
                            "nullable": true
                          },
                          "updated_at": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "Last modification timestamp",
                            "default": "now"
                          },
                          "due_date": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "Optional case deadline"
                          },
                          "closed_at": {
                            "type": "number",
                            "format": "timestamptz",
                            "description": "Timestamp when case was resolved or closed"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/cases/{case_id}/activity": {
      "get": {
        "operationId": "FSI/cases/{case_id}/activity|GET",
        "summary": "Get the activity timeline for a case, paginated with newest first.",
        "description": "Get the activity timeline for a case, paginated with newest first.\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "cases"
        ],
        "security": [],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "description": "ID of the case",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "Tenant identifier (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "Tenant API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": "1"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": "20"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemsReceived": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "curPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "nextPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "prevPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "nullable": true
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "perPage": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "itemsTotal": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "pageTotal": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Unique activity record identifier"
                          },
                          "case_id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The case this activity belongs to"
                          },
                          "actor_id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "ID of the user or agent who performed the action"
                          },
                          "actor_type": {
                            "type": "string",
                            "description": "Whether the action was performed by a user, AI agent, or system",
                            "enum": [
                              "user",
                              "agent",
                              "system"
                            ],
                            "default": "user"
                          },
                          "action": {
                            "type": "string",
                            "description": "Type of action performed",
                            "enum": [
                              "created",
                              "updated",
                              "status_changed",
                              "participant_added",
                              "participant_removed",
                              "item_added",
                              "item_removed",
                              "comment",
                              "resolved",
                              "reopened",
                              "closed"
                            ]
                          },
                          "details": {
                            "type": "object",
                            "description": "Action-specific payload (old/new values, comment text, etc.)",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/cases/{case_id}/comments": {
      "post": {
        "operationId": "FSI/cases/{case_id}/comments|POST",
        "summary": "Add a comment to a case. Creates a case_activity entry with action comment.",
        "description": "Add a comment to a case. Creates a case_activity entry with action comment.\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "cases"
        ],
        "security": [],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "description": "ID of the case",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Unique activity record identifier"
                    },
                    "case_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "The case this activity belongs to"
                    },
                    "actor_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "ID of the user or agent who performed the action"
                    },
                    "actor_type": {
                      "type": "string",
                      "description": "Whether the action was performed by a user, AI agent, or system",
                      "enum": [
                        "user",
                        "agent",
                        "system"
                      ],
                      "default": "user"
                    },
                    "action": {
                      "type": "string",
                      "description": "Type of action performed",
                      "enum": [
                        "created",
                        "updated",
                        "status_changed",
                        "participant_added",
                        "participant_removed",
                        "item_added",
                        "item_removed",
                        "comment",
                        "resolved",
                        "reopened",
                        "closed"
                      ]
                    },
                    "details": {
                      "type": "object",
                      "description": "Action-specific payload (old/new values, comment text, etc.)",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": "Tenant identifier (UUID)"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "Tenant API key"
                  },
                  "actor_type": {
                    "type": "string",
                    "description": "Who is adding the comment",
                    "enum": [
                      "user",
                      "agent",
                      "system"
                    ],
                    "default": "user"
                  },
                  "actor_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "User ID of the actor. Defaults to API key owner when actor_type=user"
                  },
                  "comment": {
                    "type": "string",
                    "description": "The comment text"
                  }
                },
                "required": [
                  "company_id",
                  "api_key",
                  "comment"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": "Tenant identifier (UUID)"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "Tenant API key"
                  },
                  "actor_type": {
                    "type": "string",
                    "description": "Who is adding the comment",
                    "enum": [
                      "user",
                      "agent",
                      "system"
                    ],
                    "default": "user"
                  },
                  "actor_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "User ID of the actor. Defaults to API key owner when actor_type=user"
                  },
                  "comment": {
                    "type": "string",
                    "description": "The comment text"
                  }
                },
                "required": [
                  "company_id",
                  "api_key",
                  "comment"
                ]
              }
            }
          }
        }
      }
    },
    "/cases/{case_id}/items/{item_id}": {
      "delete": {
        "operationId": "FSI/cases/{case_id}/items/{item_id}|DELETE",
        "summary": "Remove a linked item from a case.",
        "description": "Remove a linked item from a case.\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "cases"
        ],
        "security": [],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "description": "ID of the case",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "ID of the case_item record to remove",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": "Tenant identifier (UUID)"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "Tenant API key"
                  },
                  "actor_type": {
                    "type": "string",
                    "description": "Who is removing the item",
                    "enum": [
                      "user",
                      "agent",
                      "system"
                    ],
                    "default": "user"
                  },
                  "actor_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "User ID of the actor"
                  }
                },
                "required": [
                  "company_id",
                  "api_key"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": "Tenant identifier (UUID)"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "Tenant API key"
                  },
                  "actor_type": {
                    "type": "string",
                    "description": "Who is removing the item",
                    "enum": [
                      "user",
                      "agent",
                      "system"
                    ],
                    "default": "user"
                  },
                  "actor_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "User ID of the actor"
                  }
                },
                "required": [
                  "company_id",
                  "api_key"
                ]
              }
            }
          }
        }
      }
    },
    "/cases/{case_id}/items": {
      "get": {
        "operationId": "FSI/cases/{case_id}/items|GET",
        "summary": "List all items linked to a case, optionally filtered by item type.",
        "description": "List all items linked to a case, optionally filtered by item type.\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "cases"
        ],
        "security": [],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "description": "ID of the case",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "Tenant identifier (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "Tenant API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by item type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "job",
                "customer",
                "site",
                "engineer",
                "job_group",
                "document",
                "note"
              ],
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Unique item link identifier"
                      },
                      "case_id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "The case this item is linked to"
                      },
                      "item_type": {
                        "type": "string",
                        "description": "Type of linked record",
                        "enum": [
                          "job",
                          "customer",
                          "site",
                          "engineer",
                          "job_group",
                          "document",
                          "note"
                        ]
                      },
                      "item_id": {
                        "type": "string",
                        "description": "External ID of the linked record (jobId, contactId, siteKey, resourceId, etc.)"
                      },
                      "label": {
                        "type": "string",
                        "description": "Human-readable name for display"
                      },
                      "context": {
                        "type": "string",
                        "description": "Why this item was added to the case"
                      },
                      "added_by": {
                        "type": "integer",
                        "format": "int64",
                        "description": "User who linked this item"
                      },
                      "metadata": {
                        "type": "object",
                        "description": "Type-specific extra data",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "post": {
        "operationId": "FSI/cases/{case_id}/items|POST",
        "summary": "Link an item (job, customer, site, engineer, etc.) to a case.",
        "description": "Link an item (job, customer, site, engineer, etc.) to a case.\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "cases"
        ],
        "security": [],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "description": "ID of the case",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Unique item link identifier"
                    },
                    "case_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "The case this item is linked to"
                    },
                    "item_type": {
                      "type": "string",
                      "description": "Type of linked record",
                      "enum": [
                        "job",
                        "customer",
                        "site",
                        "engineer",
                        "job_group",
                        "document",
                        "note"
                      ]
                    },
                    "item_id": {
                      "type": "string",
                      "description": "External ID of the linked record (jobId, contactId, siteKey, resourceId, etc.)"
                    },
                    "label": {
                      "type": "string",
                      "description": "Human-readable name for display"
                    },
                    "context": {
                      "type": "string",
                      "description": "Why this item was added to the case"
                    },
                    "added_by": {
                      "type": "integer",
                      "format": "int64",
                      "description": "User who linked this item"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Type-specific extra data",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": "Tenant identifier (UUID)"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "Tenant API key"
                  },
                  "actor_type": {
                    "type": "string",
                    "description": "Who is linking the item",
                    "enum": [
                      "user",
                      "agent",
                      "system"
                    ],
                    "default": "user"
                  },
                  "actor_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "User ID of the actor"
                  },
                  "item_type": {
                    "type": "string",
                    "description": "Type of record to link",
                    "enum": [
                      "job",
                      "customer",
                      "site",
                      "engineer",
                      "job_group",
                      "document",
                      "note"
                    ]
                  },
                  "item_id": {
                    "type": "string",
                    "description": "External ID of the record"
                  },
                  "label": {
                    "type": "string",
                    "description": "Human-readable name for display"
                  },
                  "context": {
                    "type": "string",
                    "description": "Why this item is being added"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Type-specific extra data",
                    "nullable": true
                  }
                },
                "required": [
                  "company_id",
                  "api_key",
                  "item_type",
                  "item_id",
                  "label"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": "Tenant identifier (UUID)"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "Tenant API key"
                  },
                  "actor_type": {
                    "type": "string",
                    "description": "Who is linking the item",
                    "enum": [
                      "user",
                      "agent",
                      "system"
                    ],
                    "default": "user"
                  },
                  "actor_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "User ID of the actor"
                  },
                  "item_type": {
                    "type": "string",
                    "description": "Type of record to link",
                    "enum": [
                      "job",
                      "customer",
                      "site",
                      "engineer",
                      "job_group",
                      "document",
                      "note"
                    ]
                  },
                  "item_id": {
                    "type": "string",
                    "description": "External ID of the record"
                  },
                  "label": {
                    "type": "string",
                    "description": "Human-readable name for display"
                  },
                  "context": {
                    "type": "string",
                    "description": "Why this item is being added"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Type-specific extra data",
                    "nullable": true
                  }
                },
                "required": [
                  "company_id",
                  "api_key",
                  "item_type",
                  "item_id",
                  "label"
                ]
              }
            }
          }
        }
      }
    },
    "/cases/{case_id}/participants/{participant_id}": {
      "delete": {
        "operationId": "FSI/cases/{case_id}/participants/{participant_id}|DELETE",
        "summary": "Remove a participant from a case.",
        "description": "Remove a participant from a case.\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "cases"
        ],
        "security": [],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "description": "ID of the case",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "participant_id",
            "in": "path",
            "description": "ID of the case_participant record to remove",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": "Tenant identifier (UUID)"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "Tenant API key"
                  },
                  "actor_type": {
                    "type": "string",
                    "description": "Who is removing the participant",
                    "enum": [
                      "user",
                      "agent",
                      "system"
                    ],
                    "default": "user"
                  },
                  "actor_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "User ID of the actor"
                  }
                },
                "required": [
                  "company_id",
                  "api_key"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": "Tenant identifier (UUID)"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "Tenant API key"
                  },
                  "actor_type": {
                    "type": "string",
                    "description": "Who is removing the participant",
                    "enum": [
                      "user",
                      "agent",
                      "system"
                    ],
                    "default": "user"
                  },
                  "actor_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "User ID of the actor"
                  }
                },
                "required": [
                  "company_id",
                  "api_key"
                ]
              }
            }
          }
        }
      }
    },
    "/cases/{case_id}/participants": {
      "post": {
        "operationId": "FSI/cases/{case_id}/participants|POST",
        "summary": "Add a participant to a case with a specified role.",
        "description": "Add a participant to a case with a specified role.\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "cases"
        ],
        "security": [],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "description": "ID of the case",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Unique participant record identifier"
                    },
                    "case_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "The case this participant belongs to"
                    },
                    "user_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "The user participating in the case"
                    },
                    "role": {
                      "type": "string",
                      "description": "Participant role in the case",
                      "enum": [
                        "owner",
                        "investigator",
                        "reviewer",
                        "observer",
                        "contributor"
                      ],
                      "default": "contributor"
                    },
                    "added_by": {
                      "type": "integer",
                      "format": "int64",
                      "description": "User who added this participant"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": "Tenant identifier (UUID)"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "Tenant API key"
                  },
                  "actor_type": {
                    "type": "string",
                    "description": "Who is adding the participant",
                    "enum": [
                      "user",
                      "agent",
                      "system"
                    ],
                    "default": "user"
                  },
                  "actor_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "User ID of the actor. Defaults to API key owner when actor_type=user"
                  },
                  "user_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "ID of the user to add as participant"
                  },
                  "role": {
                    "type": "string",
                    "description": "Role of the participant in the case",
                    "enum": [
                      "owner",
                      "investigator",
                      "reviewer",
                      "observer",
                      "contributor"
                    ],
                    "default": "contributor"
                  }
                },
                "required": [
                  "company_id",
                  "api_key",
                  "user_id"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "description": "Tenant identifier (UUID)"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "Tenant API key"
                  },
                  "actor_type": {
                    "type": "string",
                    "description": "Who is adding the participant",
                    "enum": [
                      "user",
                      "agent",
                      "system"
                    ],
                    "default": "user"
                  },
                  "actor_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "User ID of the actor. Defaults to API key owner when actor_type=user"
                  },
                  "user_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "ID of the user to add as participant"
                  },
                  "role": {
                    "type": "string",
                    "description": "Role of the participant in the case",
                    "enum": [
                      "owner",
                      "investigator",
                      "reviewer",
                      "observer",
                      "contributor"
                    ],
                    "default": "contributor"
                  }
                },
                "required": [
                  "company_id",
                  "api_key",
                  "user_id"
                ]
              }
            }
          }
        }
      }
    },
    "/cases/{case_id}/transition": {
      "post": {
        "operationId": "FSI/cases/{case_id}/transition|POST",
        "summary": "Transition a case to a new status with lifecycle validation.",
        "description": "Transition a case to a new status with lifecycle validation.\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "cases"
        ],
        "security": [],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "description": "ID of the case to transition",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
[...]
